<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!--<parameter name="url" value="https://jpetstore.aspectran.com"></parameter>-->
	<parameter name="userId" value="abcdefg"></parameter>
	<parameter name="newPw" value="abcdefg123"></parameter>
	<parameter name="confPw" value="abcdefg123"></parameter>
	<parameter name="fName" value="John"></parameter>
	<parameter name="lName" value="Doe"></parameter>
	<parameter name="email" value="John@gamil.com"></parameter>
	<parameter name="phone" value="9876567654"></parameter>
	<parameter name="add1" value="Rukimini Nagar"></parameter>
	<parameter name="add2" value="Abcd"></parameter>
	<parameter name="city" value="Pune"></parameter>
	<parameter name="state" value="Maharashtra"></parameter>
	<parameter name="zip" value="444897"></parameter>
	<parameter name="count" value="India"></parameter>
	<test thread-count="5" name="Test">
		<classes>

			<class name="log4j.JpetstoreLog4j" />

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
